<nav class="sidebar sidebar-offcanvas" id="sidebar">
  <ul class="nav">
    
    <!-- Typing test ------------------------------------- -->
    <li class="nav-item">
      <a class="nav-link" href="index.html">
        <span class="menu-title">Typing Test</span>
        <i class="mdi mdi-home menu-icon"></i>
      </a>
    </li>

    <li class="nav-item">
      <a class="nav-link" href="pages/competitions.html">
        <span class="menu-title">Competitions</span>
        <i class="mdi mdi-chart-bar menu-icon"></i>
      </a>
    </li>

    <li class="nav-item">
      <a class="nav-link" href="pages/charts/chartjs.html">
        <span class="menu-title">Class</span>
        <i class="mdi mdi-chart-bar menu-icon"></i>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" data-bs-toggle="collapse" href="#ui-basic" aria-expanded="false" aria-controls="ui-basic">
        <span class="menu-title">Leaderboards</span>
        <i class="menu-arrow"></i>
        <i class="mdi mdi-crosshairs-gps menu-icon"></i>
      </a>
      <div class="collapse" id="ui-basic">
        <ul class="nav flex-column sub-menu">
          <li class="nav-item"> <a class="nav-link" href="pages/ui-features/buttons.html">Top 10 (Button)</a></li>
          <li class="nav-item"> <a class="nav-link" href="pages/ui-features/typography.html">Top 3 (Typography)</a></li>
        </ul>
      </div>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="pages/charts/chartjs.html">
        <span class="menu-title">About Us</span>
        <i class="mdi mdi-chart-bar menu-icon"></i>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="pages/charts/chartjs.html">
        <span class="menu-title">Get Started</span>
        <i class="mdi mdi-chart-bar menu-icon"></i>
      </a>
    </li>

    <!-- BAWAAN TEMPLATE ----------------------------------------- -->
    <li class="nav-item sidebar-actions">
      <span class="nav-link">
        <button class="btn btn-block btn-lg btn-gradient-info mt-4">Login</button>
      </span>
    </li>
  </ul>
</nav>